/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height : 120px;
  background-color: #4056A1;
  color:#FFFFFF ;
}
.nav-right {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-left {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow {
  display: flex;
  color: red;
  justify-content:center ;
}

