/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */

.nav-bar {
  display: flex;
  width: 100vw;  
  flex-direction: row;
  justify-content: space-between;
  height : 120px;
  background-color: #4056A1;
  color:#FFFFFF ;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: "Bungee", sans-serif;
}
.nav-right {  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow {
  display: flex;
  color: red;
  justify-content:center ;
}

